:root {
  --main-blue-c: hsl(220, 49%, 13%);
  --blue-shade-c: hsl(197, 53%, 39%);

  /* --light-primary-c: hsl(220, 49%, 90%); */
  --light-primary-c: hsl(178, 100%, 93%);
  --white-c: hsl(0, 0%, 89%);
  --light-gray: hsl(0, 0%, 80%);
  --light-shade-c: hsl(178, 100%, 93%);
  --light-hover-c: hsla(178, 79%, 93%, 0.7);
  --orange-c: hsl(0, 98%, 70%);

  /*
  --lgth-1: 0.25rem; /* 4px *
  --lgth-2: 0.5rem; /* 8px *
  --lgth-3: 1rem; /* 16px *
  --lgth-4: 2rem; /* 32px *
  --lgth-5: 4rem; /* 64px *
  --lgth-6: 8rem; /* 128px *
*/
  /* lengths  */

  --lgth-1: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --lgth-2: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);
  --lgth-3: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
  --x: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --lgth-4: clamp(1.5rem, calc(1.37rem + 0.65vw), 1.88rem);
  --xx: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);
  --lgth-5: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);
  --xxx: clamp(4rem, calc(3.65rem + 1.74vw), 5rem);
  --lgth-6: clamp(6rem, calc(5.48rem + 2.61vw), 7.5rem);

  --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);
  --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
}

/* || General styles */

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background: var(--main-blue-c);
  font-family: Poppins, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu,
    Cantarell, Helvetica Neue;
  color: var(--light-primary-c);
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  height: 100%;
}

img {
  z-index: 4;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 3px 0px 3px 0px;
}

/* ---- */

/* || Typography */

h1 {
  font-weight: 300;
  font-size: var(--step-5);
  letter-spacing: -1.5px;
  line-height: 1.3;
}

h2 {
  font-weight: 300;
  font-size: var(--step-4);
  letter-spacing: -0.5px;
}

h3 {
  font-size: var(--step-3);
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  font-size: var(--step-2);
  font-weight: 400;
  letter-spacing: 0.25px;
}

h5 {
  font-size: var(--step-1);
  font-weight: 400;
}

h6 {
  font-size: var(--step-0);
  font-weight: 500;
  letter-spacing: 0.15px;
}

.title {
  margin-bottom: var(--xx);
}

.subtitle-1 {
  font-size: var(--step--1);
  font-weight: 400;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font-size: var(--step--2);
  font-weight: 500;
  letter-spacing: 0.1px;
}

p {
  font-size: var(--step-0);
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: var(--step--1);
  max-inline-size: 70ch;
  line-height: 1.5;
  letter-spacing: 0.25px;
}
/* font-size: 1.75rem; /* 28px */
*/ .section-title {
  margin-bottom: 2.5rem;
  font-family: Fira Mono;
}

section .section-title {
  margin-bottom: 2.5rem;
  font-family: Fira Mono;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  color: var(--light-primary-c);
}

.overline {
  font-size: var(--step--2);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
/* ----- */

.p-card-container {
  display: flex;
  margin-bottom: 3.5rem;
}

.p-card-container:nth-child(odd) {
  justify-content: start;
}
.p-card-container:nth-child(even) {
  justify-content: end;
}

.project-view {
  display: flex;
  list-style-type: none;
}

.view {
  color: var(--orange-c);
  align-items: center;
  margin-right: 0.5rem;
  font-size: var(--step--2);
  font-weight: bold;
  letter-spacing: 1.2px;
}

.view:hover {
  color: --var(--light-hover-c);
}

.icon i {
  color: var(--light-primary-c);
}

.icon {
  color: var(--light-primary-c);
  font-size: var(--step-1);
  margin-right: 0.5rem;
}

.icon:hover {
  transform: scale(1.1);
  color: --var(--light-hover-c);
}

.nav-item:hover {
  color: var(--light-hover-c);
}

.nav_item-resume {
  margin-right: var(--lgth-4);
}

.profile-name {
  color: var(--light-primary-c);
}

.profile-greetings {
  color: #dffaf9;
  font-family: Fira Mono;
  margin-bottom: 1rem;
}

.profile-tagline {
  color: var(--light-hover-c);
  /* font-size: 1.75rem; */
  margin-bottom: var(--lgth-4);
}

.who {
  max-width: 32em;
}

.about-statement {
  max-width: 65ch;
  line-height: 1.5;
  padding-bottom: var(--lgth-4);
}

.about-statement p:not(:last-child) {
  margin-bottom: var(--lgth-4);
}
.misc {
  margin-bottom: var(--lgth-5);
  padding: var(--lgth-4) 0;
  max-width: 40em;
}

.misc a {
  /* color: var(--orange-c); */
}

.misc h2,
.about-statement h2 {
  margin-bottom: var(--lgth-3);
}

.misc-statement p {
  margin-bottom: var(--lgth-2);
}

.misc-statement_item {
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: var(--lgth-2);
}

hr {
  /* margin: var(--lgth-4) 0; */
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(197, 50%, 48%);
  /* margin: 1em 0; */
  padding: 0;
}

.about-statement p {
  border-left: 3px solid var(--light-hover-c);
  padding: 0 var(--x);
}

.about {
  background: var(--blue-shade-c);
  /* --blue-shade-c: hsl(197, 53%, 39%); */
}

.home {
  margin: var(--lgth-4) 0;
}

.home-grid {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: var(--lgth-5);
  align-content: center;
}

/* util styles  */

.date {
  color: var(--light-hover-c);
  margin-bottom: var(--lgth-1);
  font-family: Fira Mono;
  font-size: var(--step--2);
  letter-spacing: 1.2px;
}

.flex {
  display: flex;
  align-self: center;
  justify-content: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--lgth-5) var(--lgth-4);
}

/* Mobile */
@media (max-width: 400px) {
  .container {
    padding-inline: var(--lgth-3);
  }
}

/* || Header and Main Navigation */

header {
  width: 100%;
  background: var(--main-blue-c);
  position: sticky;
  top: 0;
  z-index: 100;
  max-height: 100px;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  padding-top: var(--lgth-4);
}

.flex {
  justify-content: space-between;
}

.nav-item,
.home {
  padding: 0.5rem;
}

.nav-item {
  color: var(--light-hover-c);
  font-size: var(--step--1);
  padding: var(--lgth-2) var(--lgth-3);
  margin-right: var(--lgth-1);
  font-family: Fira Mono;
}

/* … */

.nav-flex {
  display: flex;
  justify-content: space-between;
}

.nav-item_socials li {
  margin-right: var(--lgth-2);
}

.log {
  position: relative;
  top: -10px;
  padding-left: var(--lgth-4);
}

.log_kaddy {
  color: var(--orange-c);
}

.log_marindi {
  /* color: var(--blue-shade-c); */
}

.log_kaddy,
.log_marindi {
  margin: 0;
  line-height: 1;
  padding: 0;
  font-weight: 900;
}

.nav,
.nav-item_socials {
  list-style-type: none;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 730px) {
  .hamburger-menu {
    right: 16px;
    position: absolute;
    display: block;
    text-align: right;
    cursor: pointer;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    z-index: 2;
  }

  .menu {
    display: block;
    z-index: -1;
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    transform: translateY(-300px);
    transition: transform 0.2s;
    background: #384663;
    padding: 16px 16px;
  }

  .nav_item-resume {
    display: none;
  }

  .menu ul > * {
    /* margin-bottom: 80px; */
  }

  .closeIcon {
    display: none;
  }

  .showMenu {
    transform: translateY(0);
    padding-top: calc(48px + 29px);
  }
}

/* --- Home ----- */

.home-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(500px, 1fr) minmax(190px, 230px);
  margin-bottom: var(--lgth-5);
}

.profile-bio {
  display: flex;
  flex-direction: column;
}

.home-action-btns > a:first-child {
  margin-right: var(--lgth-3);
}

/* why are you not working: @mobile  */
@media (max-width: 400px) {
  .home-action-btns > a:first-child {
    margin-bottom: var(--lgth-3);
  }
}

.home-action-btns > a:last-child {
  display: none;
}

@media (max-width: 730px) {
  .home-container {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    row-gap: var(--lgth-5);
  }

  .profile-pic {
    grid-row: 1/2;
    max-width: 200px;
    justify-self: center;
  }

  .profile-grettings {
    grid-row: 2/3;
  }

  .home {
    margin-top: 0;
    /* margin-bottom: 32px; */
  }
  .home-action-btns > a:last-child {
    display: inline-block;
  }
}

.profile-pic {
  position: relative;
}

.profile-tagline_statement {
  margin-bottom: var(--lgth-2);
  max-inline-size: 48ch;
}

.icon-color {
  color: var(--light-hover-c);
}

article {
  flex: 1;
}

.profile-pic-container {
  position: relative;
  display: block;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.profile-grettings_cursor {
  background-color: var(--light-primary-c);
}

/* -- Home Decorates for imag-- */

.blue {
  width: 105%;
  height: 105%;
  background: var(--blue-shade-c);
  position: absolute;
  /* border-radius: 3px; */
  box-shadow: 0px 2px 8px var(0, 0%, 80);
  top: 0px;
}

.orange {
  width: 35%;
  height: 35%;
  background: var(--orange-c);
  position: absolute;
  box-shadow: 0px 2px 8px black;
  border-radius: 0px 0px 3px 0px;
  bottom: -10%;
  right: -10%;
}

/* -- Buttons --- */
button,
.btn {
  font-weight: bold;
  font-size: var(--step--1);
}

.primary-bt {
  border: none;
  border-radius: 6px;
  /* padding: 0.5rem 1rem; */
  padding: var(--lgth-2) var(--lgth-3);
  color: var(--light-primary-c);
  background: var(--orange-c);
  font-family: Fira Mono;
}

.primary-bt:hover {
  cursor: pointer;
  background: var(--orange-c);
  color: var(--light-primary-c);
}

.secondary-bt {
  border: 1px solid var(--orange-c);
  border-radius: 6px;
  color: var(--orange-c);
}

.secondary-bt a {
  color: var(--orange-c);
}

/* --- Skills section --- */

@media (max-width: 800px) {
  .skills {
    height: auto;
  }

  .decorate {
    display: none;
  }
}

@media (max-width: 650px) {
  .p-image {
    display: none;
  }
}

.skills {
  background: var(--light-gray);
  position: relative;
  color: var(--main-blue-c);
  height: calc(100% - 400px);
  /* top: -250px; */
}

.skill {
  color: var(--main-blue-c);
  font-family: Fira Mono;
  font-size: var(--step--2);
  list-style-type: disc;
  letter-spacing: 0.5px;
}

.skills-container {
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, max-content)); */
  grid-template-columns: repeat(2, minmax(300px, max-content));
  justify-content: center;
}

@media (max-width: 730px) {
  .skills-container {
    grid-template-columns: minmax(300px, 320px);
    grid-template-rows: repeat(4, auto);
    row-gap: 2rem;
  }
}

.skills-container,
.projects,
.mv-footer {
  position: relative;
  top: -170px;
}

.skill-card {
  padding: var(--lgth-4);
  /* border-radius: 0 0 8.91px 8.91px; */
  border-radius: 8.91px;
  /* border-top: 6px solid var(--orange-c); */
  background: var(--white-c);
  z-index: 1;
  box-shadow: 0 4px 6px hsla(0, 0%, 0, 7), 0 5px 15px hsla(0, 0%, 0.1);
}

.skill-card ul {
  padding-left: 1rem;
  /* font-size: 0.875rem; */
}

.skills-title {
  color: #384663;
}

.card-title {
  margin-bottom: var(--lgth-2);
  font-weight: 500;
  max-inline-size: 45ch;
}

#skills {
  color: #384663;
}

.projects {
  background: var(--main-blue-c);
  color: var(--light-primary-c);
  /* z-index: 100; */
}

.p-card {
  display: flex;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 2px 15px black;
  /* max-width: 1000px; */
}

.reverse {
  flex-direction: row-reverse;
}

.p-details {
  background-color: #1d2a43;
  max-width: 700px;
  flex-shrink: 4;
  padding: 1.5rem;
}

.p-details > p {
  min-height: 160px;
  font-size: var(--step--2);
  margin-bottom: 1rem;
  color: var(--light-shade-c);
}

.p-image {
  background-color: gray;
  width: 300px;
  /* flex: 1; */
  /* border-radius: 0 9px 9px 0; */
}

.tech-stack {
  font-family: Fira Mono;
  margin-bottom: 0.5rem;
  font-size: var(--step--2);
  letter-spacing: 1.5px;
}

.tech-stack > li {
  display: inline;
  color: var(--light-hover-c);
}

.decorate {
  display: absolute;
  left: 100px;
  z-index: -10;
}

.decorate_blue-first {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  position: relative;
  left: 100px;
  top: 10px;
  background: var(--blue-shade-c);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.decorate_blue-second {
  width: 53px;
  height: 50px;
  flex-shrink: 0;
  position: relative;
  left: 20px;
  top: -100px;
  background: var(--blue-shade-c);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.decorate_blue-big {
  width: 180px;
  height: 130px;
  position: relative;
  top: -82px;
  right: 180px;
  z-index: 2;
  flex-shrink: 0;
  background: var(--blue-shade-c);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.decorate_orange-big {
  width: 205px;
  height: 164px;
  position: relative;
  top: -200px;
  /* right: -100px; */
  right: 120px;
  flex-shrink: 0;
  z-index: -10;
  background: var(--orange-c);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home {
  /* margin-top: 60px; */
  /* padding-top: 2.5rem; */
}

/* -- Blog -- */
.blogs {
  min-height: 600px;
}

.blog-intro {
  background-color: #1d2a43;
}

.blog-intro p {
  color: var(--light-hover-c);
  max-inline-size: 65ch;
}

.blog-title {
  margin-bottom: var(--x);
}

.blogs .container {
  /* margin-top: 80px; */
}

.blogs-list_item {
  list-style-type: none;
  margin-bottom: var(--xx);
}

.blogs-list_item:last-child {
  margin-bottom: 0;
}

.blogs-list_item h3 {
  /* margin-top: 8px; */
  margin-bottom: 0.5rem;
}

.blogs a {
  color: var(--orange-c);
}

.blogs-list_item_description {
  font-size: 0.875rem;
}

main.blog-layout {
  display: flex;
  justify-content: center;
}

/* -- blog Toc -- */
aside{
  min-width: 400px;
}

/* aside:hover{ */
/*   width: 400px; */
/* } */

.toc{
  color: var(--light-hover-c);
  margin-inline-end: 60px;
}

.toc > ul{
  max-height: calc(100vh - 97px - 80px); 
  overflow-y: scroll;
}

.toc> ul:hover{
}

li a {
  color: inherit; /* This property makes the link inherit the color from its parent (the list item) */
}

.toc .toc-list {
  justify-self: start;
}

.toc-list {
  position: sticky;
  top: 150px;
}

.toc .lvl2 ul {
  border-left: 0.5px solid gray;
}

.lvl2 > *:first-child {
  display: block;
  padding-block: var(--lgth-1);
}

.toc_listitem {
  max-inline-size: 30ch;
}

.lvl3 .toc_listitem{
  padding-block: 0.25rem;
}

.lvl3 .toc_anchor{
  padding-inline: var(--x);
  display: inline-block;
}

.toc_highlight {
  color: var(--orange-c);
  font-weight: 600;
}

aside, .toc, .lvl3{
  overflow-x: visible;
}

.lvl3 .toc_highlight {
  border-left: 3px solid var(--orange-c);
  position: relative;
  left: -1.5px;
}

@media (max-width: 1400px)
{
  aside.toc{
    display: none;
  }
}
/* --- Footer section --- */

footer {
  border-top: 1px solid rgba(220, 255, 254, 0.2);
  color: var(--light-hover-c);
  font-size: var(--step--1);
}

footer p {
  font-size: var(--step--1);
}

footer h6 {
  color: var(--light-primary-c);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.footer_flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.footer_flex > * {
  margin-bottom: 1rem;
}

.footer-blog-tagline {
}

footer a {
  color: var(--light-hover-c);
}
