* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav {
  justify-content: space-between;
  /* background: gray; */
  padding: 10px;
}

body {
  background: #111c32;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-item {
  color: #dcfffe;
  font-size: 20px;
  margin: 0 15px;
  font-family: Fira Mono;
}

.nav-item:hover {
  /* font-size: 24px; */
  border: 1px solid #dcfffe;
  border-radius: 6px;
}

.nav-item:active {
  color: #f96a68;
}

.primary-bt:hover {
  background: #f96a68;
  color: #dcfffe;
}

li {
  list-style-type: none;
  height: 100%;
  color: #dcfffe;
}

a {
  text-decoration: none;
  /* padding: 10%; */
}
.name {
  color: #dcfffe;
  font-size: 72px;
  font-family: Poppins;
  font-weight: 500;
  /* margin-top: 5px; */
}

.greetings {
  color: #dffaf9;
  font-size: 24px;
  font-family: Fira Mono;
}

.profile {
  color: rgba(220, 255, 254, 0.65);
  font-size: 34px;
  font-family: Poppins;
  font-weight: 700;
  max-width: 600px;
  margin-top: 10px;
}

.p-statement {
  color: #dcfffe;
  font-size: 22px;
  font-family: Poppins;
  margin-bottom: 60px;
}

section {
  margin-top: 25px;
  padding: 10px;
}

.log {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
}
.kaddy {
  color: #f96a68;
}
.marindi {
  color: #dcfffe;
}

/* util styles  */

.flex {
  display: flex;
  align-self: center;
  justify-content: center;
}

nav .flex {
  justify-content: space-between;
}

.nav-item,
.home {
  padding: 10px;
}

.intro {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  height: 400px;
  flex: 1 1 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: center;
}
article {
  flex: 1;
}

.img-container {
  /* align-items: center; */
  /* height: 70px; */
  /* max-width: 200px; */
  position: relative;
  height: 70%;
  width: 300px;
  /* align-self: center; */
}

img {
  z-index: 100;
  position: relative;
  max-width: 100%;
  border-radius: 3px 0px 3px 0px;
  /* position: absolute; */
  /* width: 100%; */
}

.blue {
  width: 320px;
  height: 300.433px;
  background: #2f7a97;
  position: absolute;
  border-radius: 3px;
  box-shadow: 2px 2px 4px gray;
  top: 0px;
}

.orange {
  width: 140px;
  height: 100px;
  background: #f96a68;
  position: absolute;
  box-shadow: 2px 2px 4px gray;
  border-radius: 0px 0px 3px 0px;
  bottom: -35px;
  right: -35px;
}

.primary-bt {
  border: 1px solid #f96a68;
  border-radius: 6px;
  padding: 10px 15px;
  color: #f96a68;
  background: transparent;
  font-family: Fira Mono;
  font-size: 22px;
  margin-bottom: 60px;
}

.skills {
  background: var(--light-primary, #dcfffe);
  height: 500px;
  color: black;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skill-card {
  border: 2px solid black;
  width: 180px;
  /* max-width: 180px; */
  padding: 10px;
  border-radius: 8.91px;
  border: 1.98px solid #2f7a97;
  background: #dcfffe;
  box-shadow: 4.950000762939453px 3.9599997997283936px 3.9599997997283936px 0px
    #2f7a97;
}

.skill {
  color: #111c32;
  font-family: Fira Mono;
}

.section-title {
  font-size: 48px;
  font-family: Poppins;
  font-weight: 700;
  margin: 40px 0;
}

#skills {
  color: #384663;
}

#projects {
  color: #dcfffe;
}

h3 {
  fcolor: #def7fd;
  font-size: 38px;
  font-family: Poppins;
  font-weight: 400;
  lex-shrink: 0;
}

.tech-stack {
  color: #fff;
  font-size: 24px;
  font-family: Fira Mono;
}
